p{
    color:rgb(0, 0, 0);
    font-size:15px;
    display:block;
}

hr{
    margin-left: 30px;
    margin-right: 30px;
}

h1{
    font-size: 40px;
    color:rgb(0, 0, 0);
    margin:25px;
}

.indented-div{
    margin-left: 50px;
}

span{
    color:black;
}

#hideable{
    margin-left: 50px;
    display:block;
}

#blue{
    color:rgb(13, 130, 145)
}

