body{
    margin: 0;
    background-color: #2b313e;
} 

header{
    box-shadow: 2px .5px 25px 2px #212121;
    background-color: #212121;
    height:70px;
}

h1{
    font-size: 40px;
    color:rgba(183, 183, 183, 0.64);
    font-family:Quicksand, serif;
}

#logo{
    font-size: 30px;
    float:left;
    margin-left:2em;
    color:rgba(183, 183, 183, 0.64);
}

nav{
    float:right;
}

#title{
    text-align:center;
}

p{
    color:rgba(183, 183, 183, 0.64);
    font-size:17.5px;
    font-family:Average, serif;
}

hr{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

span{
    color:black;
}

.blue{
    color:rgb(13, 130, 145)
}

