p{
    color:rgb(255, 255, 255);
    background-color: black;
    font-size:15px;
}

hr{
    margin-left: 30px;
    margin-right: 30px;
}

h1{
    font-size: 40px;
    color:rgb(0, 0, 0);
    margin:25px;
}

.indented-div{
    margin-left: 50px;
}

